@use '../vars/colors' as *;

.footer {
  color: $dark-mod-cyan;
  text-align: center;
  padding: 68px 0;
  background-color: $dark-mod-cyan;

  a {
    color: $dark-desat-cyan;
    &:hover {
      color: $white;
    }
  }

  svg {
    fill: $dark-desat-cyan;
    margin: 0 auto 44px auto;
  }

  &__links {
    margin-bottom: 90px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 56px;
  }

  &__socials {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 28px;
  }
}
