@use '../vars/colors' as *;
@use '../vars/typography' as *;

.link {
  position: relative;
  color: $very-dark-desat-blue;
  font-family: $font-serif;
  font-weight: $font-700;

  &::before {
    content: '';
    position: absolute;
    left: -7px;
    right: -7px;
    bottom: -2px;
    height: 10px;
    transition: opacity 0.6s cubic-bezier(0.53, 0.21, 0, 1);
    opacity: 0.3;
    border-radius: 99px;
    z-index: -10;
  }

  &:hover::before {
    opacity: 0.8;
  }
}
