// Google Fonts Import
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,600;1,600&family=Fraunces:ital,wght@0,700;0,900;1,700;1,900&display=swap');

// Fonts
$font-sans: 'Barlow', sans-serif;
$font-serif: 'Fraunces', serif;

// Font Weights
$font-600: 600;
$font-700: 700;
$font-900: 900;

// Font Sizes
$font-4xl: 3.375rem;
$font-3xl: 2.5rem;
$font-2xl: 2.375rem;
$font-xl: 2rem;
$font-lg: 1.75rem;
$font-base: 1.125rem;
$font-sm: 1rem;
